################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Sea-battle/FileContentIndex
/.vs/Sea-battle/v17
/Sea-battle/.vs/Sea-battle/FileContentIndex
/Sea-battle/.vs/Sea-battle/v17
/.vs
/Sea-battle/Sea-battle/x64/Debug
/Sea-battle/x64/Debug
