################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/Sea-battle/.vs/Sea-battle/FileContentIndex
/Sea-battle/.vs/Sea-battle/v17
